body{
    margin: 0 auto;
    padding: 0;
    background-color: black;
    font-family: "Rubik", sans-serif;
    background-image: url("/Ace-it/jungle.jpeg");
    background-size: 1500px;

}


ul{
    margin-top: 6px;
    list-style: none;
    display: flex;
    margin-left: 120px;
    
}

li{
    padding: 30px;
    
}

.header-wrapper{
    display: flex;
    justify-content: left;
    background-color: white;
    margin: 40px;
    border-radius: 50px;
    margin-top: 40px;
}

.main-container{

    color:white;
    height: 80vh;
    width: 100%;
    
}

.division{
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    height: 70vh;
    
    
     /* Set height to full viewport height */
}

.large{
    cursor: pointer;
    margin: 25px;
    width: 30%;
    height: 65vh;
    border-radius: 30px;
    padding: 40px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    transition: 0.5s;
    display: block;
    align-content: end;
    
}

.large:hover{
    background-color: rgba(255,255,255,0.6);
}

.mini{
    margin: 10px;
    height: 19vh;
    width: 400px;
    border-radius: 30px;
    padding: 20px;
    margin: 25px;
    cursor: pointer;
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    transition: 0.5s;
    display: block;
    align-content: end;
}

.mini:hover{
    background-color: rgba(255,255,255,0.6);
}
    
a{
    text-decoration: none;
    color: white;

}

.mini-container a {
    text-decoration: none;
    color: inherit; /* This will make the link color the same as the parent text color */
  }
  
  .mini-container a:hover {
    text-decoration: none;
    color: inherit; /* This ensures the color doesn't change on hover */
  }

  .title{
    color:white;
  }


  /* Style for mapIt */

  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
gmp-map {
    height: 100%;
    padding:100px;
    display: flex;
    width: 900px;
    
    
}

      /* Optional: Makes the sample page fill the window. */
html,body {
    height: 100%;
    margin: 0;
    padding: 0;}


