body{
    margin: 0 auto;
    padding: 0;
    background-color: black;
    font-family: "Rubik", sans-serif;

}


ul{
    margin-top: 6px;
    list-style: none;
    display: flex;
}

li{
    padding: 30px;
}

.header-wrapper{
    display: flex;
    justify-content: left;
    background-color: white;
    margin: 40px;
    border-radius: 50px;
}